@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-MediumItalic.eot");
  src: local("☺"), url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.ttf") format("truetype"), url("../fonts/Gilroy-MediumItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local("☺"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype"), url("../fonts/Gilroy-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FactorA";
  src: url("../fonts/FactorA-Regular.eot");
  src: local("☺"), url("../fonts/FactorA-Regular.woff") format("woff"), url("../fonts/FactorA-Regular.ttf") format("truetype"), url("../fonts/FactorA-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FactorA";
  src: url("../fonts/FactorAMedium-Regular.eot");
  src: local("☺"), url("../fonts/FactorAMedium-Regular.woff") format("woff"), url("../fonts/FactorAMedium-Regular.ttf") format("truetype"), url("../fonts/FactorAMedium-Regular.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FactorA";
  src: url("../fonts/FactorA-Bold.eot");
  src: local("☺"), url("../fonts/FactorA-Bold.woff") format("woff"), url("../fonts/FactorA-Bold.ttf") format("truetype"), url("../fonts/FactorA-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*--------------------*/


.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          font-size: 18px;
          font-weight: 500;
          line-height: 18px;
}

body {
  background: #585cc6 url(../img/backgraundline.svg) no-repeat 100% 0%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Gilroy";
}

/*----------HEADER----------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  background-color: #ffffff;
  padding: 0 15px;
  padding-top: calc(12px + 20 * ((100vw -320px) / 1600));
  padding-bottom: calc(12px + 20 * ((100vw -320px) / 1600));
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__name-photo {
  padding-right: calc(8px + 12 * ((100vw -320px) / 1600));
}
.header__name-photo-me {
  height: 52px;
  width: 52px;
}
.header__body-btn {
  padding: 17px 28px;
  background: #585cc6;
  color: #ffffff;
  border-radius: 2px;
}
.header__body-btn::before {
  display: none;
}
@media (max-width: 600px) {
  .header__name span {
    display: none;
  }
  .header__name-photo-me {
    height: calc(36px + 49 * ((100vw -320px) / 1600));
    width: calc(36px + 49 * ((100vw -320px) / 1600));
  }
  .header__body-btn {
    padding: calc(8px + 28 * ((100vw -320px) / 1600));
    background: #585cc6;
    color: #ffffff;
  }
  .header__body-btn::before {
    display: block;
  }
  .header__body-btn span {
    display: none;
  }
}

/*----------FOOTER----------*/
.footer {
  margin-top: 100px;
  padding: 0 15px;
  background-color: #ffffff;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: calc(12px + 8 * ((100vw -320px) / 1600));
  padding-bottom: calc(12px + 8 * ((100vw -320px) / 1600));
}
.footer__copyrigh {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8a8a8a;
}
@media (max-width: 480px) {
  .footer__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__link {
    padding-top: 12px;
  }
}

.link-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  gap: 16px;
}

.link-items {
  font-size: 20px;
  color: #585cc6;
}
.link-items:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #797ddf;
}

/*----------MAIN----------*/
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 24px;
}
.main__container {
  padding: 0 15px;
}
.main__logo {
  font-family: "FactorA";
  font-weight: 500;
  color: #ffffff;
  padding: 100px 0 80px 0;
  line-height: 128px;
  font-size: 124px;
  max-width: 1157px;
}

@media (max-width: 1200px) {
  .main__logo {
    padding-top: calc(28px + 72 * ((100vw -320px) / 1600));
    padding-bottom: calc(28px + 52 * ((100vw -320px) / 1600));
    line-height: calc(26px + 102 * ((100vw -320px) / 1600));
    font-size: calc(26px + 98 * ((100vw -320px) / 1600));
  }
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 415px;
  margin-bottom: calc(60px + 60 * ((100vw -320px) / 1600));
}
.card__photo {
  margin-top: 30px;
  padding: 0 30% 30% 0;
  overflow: hidden;
  position: relative;
}
.card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.card__info {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(288px + 473 * ((100vw -320px) / 1600));
  height: 390px;
  background-color: #ffffff;
}
.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}
.card__name {
  color: #585cc6;
  font-family: "FactorA";
  font-style: 500;
  font-weight: 700;
  font-size: 32px;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.card__date {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  color: #8a8a8a;
}
.card__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 5px;
  padding-bottom: calc(16px + 2 * ((100vw -320px) / 1600));
}
.card__info-me {
  line-height: 20px;
  padding-bottom: calc(20px + 12 * ((100vw -320px) / 1600));
}
.card__info-me span {
  font-weight: 700;
}
.info-row__item span {
  font-weight: 700;
  padding-right: 5px;
}

.icon-dog-food::before {
  color: #585cc6;
}
.icon-dog-food span {
  font-weight: 700;
  padding-left: 5px;
}

.icon-vector {
  color: #585cc6;
  padding-left: 5px;
}

@media (max-width: 740px) {
  .card {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card__logo {
    padding: 28px 0;
  }
  .card__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .card__photo {
    margin-top: 0;
    padding: 0 100% 100% 0;
    overflow: hidden;
    position: relative;
  }
  .card__info {
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
}
/*----------Slider----------*/
.slider-wrapper {
  font-family: "Gilroy";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  max-width: 1600px;
  margin: 0 auto;
}

.slider__card {
  padding-bottom: calc(18px + 38 * ((100vw -320px) / 1600));
  padding-top: calc(18px + 38 * ((100vw -320px) / 1600));
  padding-right: calc(14px + 42 * ((100vw -320px) / 1600));
  padding-left: calc(14px + 66 * ((100vw -320px) / 1600));
  max-width: 1200px;
  max-height: 700px;
  background: #ffffff;
}
.slider .slider__btn-row {
  margin-top: auto;
  margin-right: 15px;
}
.slider .slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.slider .slider__btn-left {
  padding: 17px;
  font-size: 18px;
}
.slider .slider__btn-right {
  font-size: 18px;
  padding: 17px;
}

.card-slider {
  margin-right: 34px;
}
.card-slider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-slider__header-logo {
  font-family: FactorA;
  font-size: 68px;
  line-height: 88px;
}
.card-slider__header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 28px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 2px;
  background: #585cc6;
}
.card-slider__header-btn::before {
  padding-right: 10px;
}
.card-slider__header-btn-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .card-slider__header-logo {
    font-size: calc(30px + 38 * ((100vw -320px) / 1600));
  }
}
.item {
  width: 50%;
  background: #f5f5f5;
  padding: 24px;
}
.item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
}
.item__header-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item__header-time {
  font-family: "FactorA";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #8a8a8a;
}
.item__body-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}

.name__photo {
  margin-right: 20px;
  height: 52px;
  width: 52px;
}
.name__name {
  font-family: "FactorA";
  font-size: 24px;
  line-height: 28px;
}

@media (max-width: 700px) {
  .card-slider__header-btn {
    padding: 12px;
  }
  .card-slider__header-btn::before {
    padding: 0;
  }
  .card-slider__header-btn span {
    display: none;
  }
}
/*----------Swiper----------*/
.slide-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.swiper-paginatinon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.swiper-wrapper {
  width: calc(250px + 814 * ((100vw -320px) / 1600));
}

.slider-dop {
  display: none;
}

@media (max-width: 1050px) {
  .slider__btn-row {
    display: none;
  }

  .card-slider {
    margin-right: 0;
  }
}
@media (max-width: 740px) {
  .item-dop {
    display: none;
  }
  .item-main {
    width: calc(100px + 800 * ((100vw -320px) / 1600));
    margin: 0 auto;
  }
  .item__header {
    padding-bottom: 12px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item__header-date {
    padding-top: 12px;
  }

  .swiper-wrapper {
    width: calc(185px + 879 * ((100vw -320px) / 1600));
  }

  .slider-dop {
    display: block;
  }
}
@media (max-width: 540px) {
  .swiper-wrapper {
    width: calc(70px + 994 * ((100vw -320px) / 1600));
  }
}
/*----------popup----------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(138, 138, 138, 0.5);
  z-index: 5;
  font-family: "FactorA";
  opacity: 0;
  visibility: hidden;
}
.popup__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.popup__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  padding: 24px;
  width: calc(300px + 400 * ((100vw -320px) / 1600));
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}
.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup__logo {
  font-size: calc(20px + 4 * ((100vw -320px) / 1600));
  line-height: 28px;
  font-family: "FactorA";
}
.popup__close {
  color: #8a8a8a;
  font-size: 24px;
  padding-bottom: 20px;
  cursor: pointer;
}
.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-submit {
  font-size: calc(14px + 2 * ((100vw -320px) / 1600));
  padding-bottom: calc(8px + 6 * ((100vw -320px) / 1600));
  line-height: 18px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 12px;
  padding-bottom: calc(14px + 23 * ((100vw -320px) / 1600));
}
.form-field__name {
  border: 1px solid #e0e0e0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 15px;
  padding: 12px;
  height: 52px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #8a8a8a;
}

.form-loading {
  padding-bottom: calc(12px + 5 * ((100vw -320px) / 1600));
  padding-top: calc(12px + 5 * ((100vw -320px) / 1600));
  padding-right: calc(12px + 16 * ((100vw -320px) / 1600));
  padding-left: calc(12px + 16 * ((100vw -320px) / 1600));
  color: #ffffff;
  background: #585cc6;
}
.form-loading::before {
  padding-right: 10px;
}

.form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}
.form-text__comment {
  border: 1px solid #e0e0e0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 15px;
  padding: 12px;
  height: 105px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #8a8a8a;
}

.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  row-gap: 12px;
}
.form-btn__info {
  max-width: 321px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8a8a8a;
  position: relative;
  margin-left: 25px;
}
.form-btn__info::before {
  content: url(../img/infosquare.svg);
  position: absolute;
  left: -25px;
  top: -2px;
}
.form-btn .form-btn__loading {
  padding-bottom: calc(12px + 5 * ((100vw -320px) / 1600));
  padding-top: calc(12px + 5 * ((100vw -320px) / 1600));
  padding-right: calc(12px + 16 * ((100vw -320px) / 1600));
  padding-left: calc(12px + 16 * ((100vw -320px) / 1600));
  color: #ffffff;
  background: #585cc6;
}

@media (max-width: 1030px) {
  .form-btn__loading {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-bottom: calc(12px + 3 * ((100vw -320px) / 1600));
    padding-top: calc(12px + 3 * ((100vw -320px) / 1600));
  }
}
.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup__card.active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

body.active {
  overflow: hidden;
}

.btnhover:hover {
  background-color: #797DDF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.arrow-left {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.arrow-left::before {
  content: url("../img/arrow.svg");
}

.arrow-right::before {
  content: url("../img/arrow.svg");
}
